<!DOCTYPE html>
<html lang="en">
  <head>
    {% include "./partials/head.html"%}
  </head>
  <body>
    <div class="h-screen flex flex-col text-contentColor dark:text-contentColorDark bg-theme dark:bg-themeDark">

      {# Add header element #}
      {% include "./partials/header.html"%}

      {# Add content #}
      {{ content | safe }}

      {# Add footer element #}
      {% include "./partials/footer.html" %}

      {# Add scripts #}
      <script src="/js/alpine.js?v={% version %}"></script>

    </div>
  </body>
</html>
