<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{title}}</title>
    <meta charset="UTF-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% if description %}
    <meta name="description" content="{{description}}" />
    {% endif %}
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no, viewport-fit=cover"
    />
    <link href="/css/prism-nord.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css?v={% version %}" />
    {% block head %}{% endblock %}
  </head>
  <body class="h-screen bg-theme dark:bg-themeDark">
    <div class="text-contentColor dark:text-contentColorDark">
      {# Add header element #}
      {% include "./partials/header.html"%}

      {# Add content #}
      {{ content | safe }}

      {# Add scripts #}
      <script src="/js/alpine.js?v={% version %}"></script>
      {# {% include "./js/site-tweaks.js" %} #}
    </div>
  </body>
</html>
