<!DOCTYPE html>
<html lang="en">
  <head>
    {% include "./partials/head.html"%}
  </head>
  <body class="bg-theme">
    {# If scrolling/layout/overflow gets borked at some point: check this line
    for overscroll class #}
    <div class="flex flex-col h-screen antialiased text-contentColor">
      {# Add header element #} {% include "./partials/header.html"%} {# Add
      content #} {{ content | safe }} {# Add footer element #} {# {% include
      "./partials/footer.html" %} #} {# Add scripts #}
      <script src="/js/alpine.js?v={% version %}"></script>
      <script>
        console.log(
          "Eleventy-Tailwind-Alpine starter kit from Greg Wolanski (gregwolanski.com)"
        );
        console.log(
          "Timeline component straight up swiped from Brian Lovin (brianlovin.com)"
        );
      </script>
    </div>
  </body>
</html>
