@tailwind base;
@tailwind components;
@tailwind utilities;

/* Theme variables */

:root {

  --background-theme: #f5f5f5;
  --color-primary: rgba(0, 0, 0, 0.88);
  --color-secondary: rgba(0, 0, 0, 0.65);
  --color-tertiary: rgba(0, 0, 0, 0.20);
  --color-content: rgba(0, 0, 0, 0.88);
  --color-accent: #336633;
  --color-marker: #FFCC66CC;
  /* dark theme */
  --dark-background-theme: #0b1901;
  --dark-color-primary: rgba(255, 255, 255, 0.88);
  --dark-color-secondary: rgba(255, 255, 255, 0.65);
  --dark-color-tertiary: rgba(255, 255, 255, 0.20);
  --dark-color-content: rgba(255, 255, 255, 0.88);
  --dark-color-accent: #669966;
  --dark-color-marker: #664400CC;
}

/* Custom CSS */

@layer base {
  h1 {
    @apply text-3xl font-bold lg:text-4xl;
  }

  h2 {
    @apply text-2xl font-bold text-left lg:text-3xl;
  }

  h3 {
    @apply text-lg font-bold lg:text-xl;
  }

  p {
    @apply mb-4;
  }

  html {
      overflow: hidden;
      height: 100%;
  }

  body {
      overflow: auto;
  }

  /* Hero CSS */

  #page-hero h3 {
    @apply mb-4;
  }

  /* Blog post CSS */

  article h1 {
    @apply mb-6 text-2xl font-bold lg:text-3xl;
  }

  article h2 {
    @apply mb-4 text-xl font-bold text-left lg:text-2xl;
  }

  article h3 {
    @apply mb-4;
  }

  article h4 {
    @apply mb-4 font-bold;
  }

  article p {
    @apply leading-relaxed;
  }

  article ul {
    @apply mb-4 ml-16 list-disc;
  }

  article ol {
    @apply mb-4 ml-16 list-decimal;
  }

  article a {
    @apply text-colorAccent dark:text-colorAccentDark;
  }

  article a:hover {
    @apply underline;
  }

  article a:visited {
    @apply text-tertiary dark:text-tertiaryDark;
  }

  article blockquote {
    @apply px-6 my-6 italic text-secondary dark:text-secondaryDark;
  }

  article hr {
    @apply mb-4 border-t-2 border-secondary dark:border-secondaryDark;
  }

  article img {
    @apply max-w-full rounded;
  }

  article figcaption {
    @apply mt-1 mb-4 text-base font-bold;
  }

  article mark {
    @apply bg-colorMarker dark:bg-colorMarkerDark text-contentColor dark:text-contentColorDark;
  }

  article .embed {
    @apply mb-4;
  }

}

@layer utilities {
  .active {
    @apply pb-1.5 font-bold border-b-2 border-solid border-contentColor dark:border-contentColorDark;
  }
}