<footer class="flex items-center justify-between mx-auto h-10 max-w-4xl bg-transparent text-sm px-6">
	<div class="flex space-x-2">
		<span>Created by Laurynas Keturakis using <a class="text-colorAccent dark:text-colorAccentDark hover:underline" href="http://11ty.dev/">11ty</a> and <a class="text-colorAccent dark:text-colorAccentDark hover:underline" href="https://tailwindcss.com">Tailwind</a></span>
		<span>·</span>
		<span>Hosted on <a class="text-colorAccent dark:text-colorAccentDark hover:underline" href="https://www.netlify.com/">Netlify</a></span>
	</div>
</footer>