<header id="header" class="z-10 w-full h-16 px-8 pt-4 fixed bg-theme dark:bg-themeDark">
  <div class="flex items-center justify-between max-w-5xl mx-auto">
    <div class="flex pr-6 font-bold hover:text-colorAccent dark:hover:text-colorAccentDark"> <a href="/">Laurynas Keturakis</a></div>
    {% if navigation.items %}
    <ul
      id="menu"
      class="flex justify-end space-x-6"
    >
      {% for item in navigation.items %}
      <li class="">
        <a
          href="{{ item.url }}"
          class="{% if id == item.text %} active {% endif %} {% if id != item.text %} hover:text-colorAccent dark:hover:text-colorAccentDark {% endif %}"
        >
          <span>{{ item.text }}</span>
        </a>
      </li>
      {% endfor %}
    </ul>
    {% endif %}
  </div>
</header>
