<header id="header" class="z-10 w-full px-8 py-4 fixed bg-theme">
  <div class="flex items-center justify-between max-w-2xl mx-auto">
    <a href="/" class="inline-block max-w-full"
      ><img
        src="/images/avatar.png"
        width="54"
        alt
        class="border-2 rounded-full border-contentColor hover:border-colorAccent"
    /></a>
    {% if navigation.items %}
    <ul id="menu" class="flex justify-end space-x-6">
      {% for item in navigation.items %}
      <li class="">
        <a
          href="{{ item.url }}"
          class="{% if id == item.text %} active {% endif %} {% if id != item.text %} hover:text-colorAccent {% endif %}"
        >
          <span>{{ item.text }}</span>
        </a>
      </li>
      {% endfor %}
    </ul>
    {% endif %}
  </div>
</header>
