<header id="header" class="block max-w-2xl mx-auto">
  <nav class="relative flex items-center justify-center h-16">
    {% if navigation.items %}
    <ul
      id="menu"
      class="flex justify-between space-x-6"
      onscroll="menu_on_scroll()"
    >
    {# TODO: check if I need menu_on_scroll here #}
      {% for item in navigation.items %}
      <li class="">
        <a
          href="{{ item.url }}"
          class="{% if id == item.text %} active {% endif %} {% if id != item.text %} hover:text-colorAccent dark:hover:text-colorAccentDark {% endif %}"
        >
          <span>{{ item.text }}</span>
        </a>
      </li>
      {% endfor %}
    </ul>
    {% endif %}
  </nav>
</header>
